USE [master]
GO
/****** Object:  Database [DOCTOR]    Script Date: 10/1/2020 10:24:57 AM ******/
CREATE DATABASE [DOCTOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOCTOR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.KHANG\MSSQL\DATA\DOCTOR.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DOCTOR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.KHANG\MSSQL\DATA\DOCTOR_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOCTOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOCTOR]
GO
/****** Object:  User [lgBS]    Script Date: 10/1/2020 10:24:57 AM ******/
CREATE USER [lgBS] FOR LOGIN [lgBS] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [lgBS]
GO
/****** Object:  Table [dbo].[BACSY]    Script Date: 10/1/2020 10:24:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BACSY](
	[MABACSY] [char](4) NOT NULL,
	[TENBACSY] [nvarchar](100) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[SDTBS] [char](10) NULL,
	[TENTK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABACSY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 10/1/2020 10:24:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABACSY] [char](4) NULL,
	[MABENHNHAN] [int] NULL,
	[NOIDUNG] [nvarchar](1000) NOT NULL,
	[NGAYBAOCAO] [datetime] NULL,
	[daKe] [bit] NULL,
	[maBAOCAO] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 10/1/2020 10:24:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABENHNHAN] [int] IDENTITY(1,1) NOT NULL,
	[TENBENHNHAN] [nvarchar](100) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[SDT] [char](10) NULL,
	[DIACHI] [nvarchar](500) NOT NULL,
	[TENTK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABENHNHAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KEDON]    Script Date: 10/1/2020 10:24:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KEDON](
	[MABACSY] [char](4) NOT NULL,
	[MABENHNHAN] [int] NOT NULL,
	[TENTHUOC] [varchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[LIEUDUNG] [nvarchar](100) NULL,
	[NGAYKE] [datetime] NULL,
	[CHUANDOAN] [nvarchar](50) NULL,
	[maD] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__KEDON__CC0C7D5C67AD2DEC] PRIMARY KEY CLUSTERED 
(
	[maD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 10/1/2020 10:24:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTK] [varchar](50) NOT NULL,
	[MATKHAU] [varchar](500) NULL,
	[LOAITK] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BACSY] ([MABACSY], [TENBACSY], [GIOITINH], [NGAYSINH], [SDTBS], [TENTK]) VALUES (N'BS01', N'Nguyễn Minh Khang', 1, CAST(N'2000-03-03 00:00:00.000' AS DateTime), N'032265665 ', N'BSKhang')
INSERT [dbo].[BACSY] ([MABACSY], [TENBACSY], [GIOITINH], [NGAYSINH], [SDTBS], [TENTK]) VALUES (N'BS02', N'Nguyễn Tuân', 1, CAST(N'2000-03-02 00:00:00.000' AS DateTime), N'022165843 ', N'BSTuan')
INSERT [dbo].[BACSY] ([MABACSY], [TENBACSY], [GIOITINH], [NGAYSINH], [SDTBS], [TENTK]) VALUES (N'BS03', N'Trần Minh Tiến', 1, CAST(N'2000-02-02 00:00:00.000' AS DateTime), N'035326562 ', N'khang1998')
SET IDENTITY_INSERT [dbo].[BAOCAO] ON 

INSERT [dbo].[BAOCAO] ([MABACSY], [MABENHNHAN], [NOIDUNG], [NGAYBAOCAO], [daKe], [maBAOCAO]) VALUES (N'BS01', 1, N'muốn ói buồn nôn đau đầu chóng mat', CAST(N'2020-09-09 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[BAOCAO] ([MABACSY], [MABENHNHAN], [NOIDUNG], [NGAYBAOCAO], [daKe], [maBAOCAO]) VALUES (N'BS01', 2, N'gan bi j đó', CAST(N'2020-09-09 00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[BAOCAO] ([MABACSY], [MABENHNHAN], [NOIDUNG], [NGAYBAOCAO], [daKe], [maBAOCAO]) VALUES (NULL, NULL, N'asdkjadja', NULL, NULL, 3)
SET IDENTITY_INSERT [dbo].[BAOCAO] OFF
SET IDENTITY_INSERT [dbo].[BENHNHAN] ON 

INSERT [dbo].[BENHNHAN] ([MABENHNHAN], [TENBENHNHAN], [GIOITINH], [NGAYSINH], [SDT], [DIACHI], [TENTK]) VALUES (1, N'Nguyen An ', 1, CAST(N'2000-01-05 00:00:00.000' AS DateTime), N'032666965 ', N'APD', N'BNAn')
INSERT [dbo].[BENHNHAN] ([MABENHNHAN], [TENBENHNHAN], [GIOITINH], [NGAYSINH], [SDT], [DIACHI], [TENTK]) VALUES (2, N'Trần Ban', 1, CAST(N'2000-05-05 00:00:00.000' AS DateTime), N'012233252 ', N'AG', N'BNBan')
INSERT [dbo].[BENHNHAN] ([MABENHNHAN], [TENBENHNHAN], [GIOITINH], [NGAYSINH], [SDT], [DIACHI], [TENTK]) VALUES (5, N'Võ Nhi ', 0, CAST(N'2000-02-02 00:00:00.000' AS DateTime), N'0321546812', N'Gia Lai ', N'BNNhi')
SET IDENTITY_INSERT [dbo].[BENHNHAN] OFF
SET IDENTITY_INSERT [dbo].[KEDON] ON 

INSERT [dbo].[KEDON] ([MABACSY], [MABENHNHAN], [TENTHUOC], [SOLUONG], [LIEUDUNG], [NGAYKE], [CHUANDOAN], [maD]) VALUES (N'BS01', 1, N'thu?c s?', 12, N'12', CAST(N'2020-09-09 00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[KEDON] ([MABACSY], [MABENHNHAN], [TENTHUOC], [SOLUONG], [LIEUDUNG], [NGAYKE], [CHUANDOAN], [maD]) VALUES (N'BS01', 2, N'banadon', 2, N'ngay 10 lan ', CAST(N'2020-09-11 13:54:45.890' AS DateTime), NULL, 2)
INSERT [dbo].[KEDON] ([MABACSY], [MABENHNHAN], [TENTHUOC], [SOLUONG], [LIEUDUNG], [NGAYKE], [CHUANDOAN], [maD]) VALUES (N'BS01', 2, N'banadon', 1, N'ngay 10 lan ', CAST(N'2020-09-11 14:18:48.793' AS DateTime), NULL, 6)
SET IDENTITY_INSERT [dbo].[KEDON] OFF
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [LOAITK]) VALUES (N'admin ', N'e10adc3949ba59abbe56e057f20f883e', N'1')
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [LOAITK]) VALUES (N'BNAn', N'c90d197ed2e6f07d48cc43d964f5de64', N'2')
INSERT [dbo].[TAIKHOAN] ([TENTK], [MATKHAU], [LOAITK]) VALUES (N'BNBan', N'34fa588790b0e4c1e2b54408f84eed90', N'2')
ALTER TABLE [dbo].[BACSY]  WITH CHECK ADD  CONSTRAINT [FK_BACSY_TAIKHOAN] FOREIGN KEY([TENTK])
REFERENCES [dbo].[TAIKHOAN] ([TENTK])
GO
ALTER TABLE [dbo].[BACSY] CHECK CONSTRAINT [FK_BACSY_TAIKHOAN]
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD FOREIGN KEY([MABACSY])
REFERENCES [dbo].[BACSY] ([MABACSY])
GO
ALTER TABLE [dbo].[BAOCAO]  WITH CHECK ADD FOREIGN KEY([MABENHNHAN])
REFERENCES [dbo].[BENHNHAN] ([MABENHNHAN])
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHNHAN_TAIKHOAN] FOREIGN KEY([TENTK])
REFERENCES [dbo].[TAIKHOAN] ([TENTK])
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [FK_BENHNHAN_TAIKHOAN]
GO
ALTER TABLE [dbo].[KEDON]  WITH CHECK ADD  CONSTRAINT [FK_KEDON_BACSY] FOREIGN KEY([MABACSY])
REFERENCES [dbo].[BACSY] ([MABACSY])
GO
ALTER TABLE [dbo].[KEDON] CHECK CONSTRAINT [FK_KEDON_BACSY]
GO
ALTER TABLE [dbo].[KEDON]  WITH CHECK ADD  CONSTRAINT [FK_KEDON_BENHNHAN] FOREIGN KEY([MABENHNHAN])
REFERENCES [dbo].[BENHNHAN] ([MABENHNHAN])
GO
ALTER TABLE [dbo].[KEDON] CHECK CONSTRAINT [FK_KEDON_BENHNHAN]
GO
USE [master]
GO
